header {
    position: absolute;
    height: 156px;
    left: 0px;
    right: 0px;
    top: 37px;
    background: #FFFFFF;
}

.background {
    position: absolute;
    height: 60px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #FFFFFF;
}

.container {
    position: absolute;
    width: 1330px;
    height: 37px;
    left: calc(50% - 1330px/2);
    top: 0px;
}