:root {
    --primary-blue: #009ADC;
    --light-blue: #B6D6E4;
    --subtle-white: #F6F6F6;
    --white:  #FFFFFF;
    --light-gray: #CECECE;
    --gray: #898989;
    --dark-gray: #222020;
    --yellow: #FFCE3C;
    --red: #C20019;
}